@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');    


body {
    background-color: #f8f9fa;
    
}

.section {
    padding: 70px 0;
    background-color: #f8f9fa;
}
.section h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    font-family: 'Montserrat';
}
.section p {
    font-size: 1.25rem;
    font-family: 'Montserrat';
    
}

.profile-img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}


.carousel-item{
    width: 75vh;
}




.content {
    position: relative;
    z-index: 1;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
}

@media (max-width: 768px) {
    .parallax {
        background-attachment: scroll;
        height: auto;
        min-height: 75vh; /* Ensuring the image covers enough height */
    }

    .content {
        padding: 20px;
    }
}
